__pycache__
.env
.idea
.python-version
.ruff_cache
.vscode
.DS_Store
~$*
*.whl
~*.xlsx
_archive

cache
dist

# media config folders
downloads
lazylibrarian-config
lidarr-config
plex
prowlarr-config
radarr-config
sabnzbd-config
sonarr-config
tautulli-config
